* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
ul {
  text-decoration: none;
  margin-top: 50px;
}
h1 {
  padding: 20px;
}
.active {
  color: red;
  text-decoration: solid;
  padding: 10px;
}
